#container{
    position: absolute;
    width: 50%;
    float: left;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);    
    display: block;
}


/* make sidebar nav vertical */ 
@media (min-width: 678px) {
  .sidebar-nav .navbar .navbar-collapse {
    padding: 0;
    max-height: none;
  }
  .sidebar-nav .navbar ul {
    float: none;
  }
  .sidebar-nav .navbar ul:not {
    display: block;
  }
  .sidebar-nav .navbar li {
    float: none;
    display: block;
  }
  .sidebar-nav .navbar li a {
    padding-top: 12px;
    padding-bottom: 12px;
  }
}