<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="script.js"></script>
  </head>
  <body ng-app="modulo">

    <div class="exercicio1" ng-controller="mascada">
      <ul>
        <li ng-repeat="ex1 in crescer | orderBy: 'numAula'">{{ex1.aulaNome}} - {{ex1.instrutor}}</li>
      </ul>
    </div>



    <div class="exercicio2" ng-controller="mascada">
      <ul>
        <li ng-repeat="ex2 in instrutores">{{ex2.nome | exercicio2}}</li>
      </ul>
    </div>

  </body>
</html>
