<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title></title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js">
    </script>
    <script type="text/javascript" src="script.js"></script>
    <link rel="stylesheet" href="estilo.css">
  </head>
  <body ng-app="modulo">

    <div class="exercicio1" ng-controller="mascada">
      <span>Exercício 1:</span>
      <table>
        <thead>
          <tr>
            <th></th>
            <th>Aula</th>
            <th>instrutor</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="ex1 in crescer | orderBy: 'numAula'">
            <th>{{ex1.numAula}}</th>
            <th>{{ex1.aulaNome}}</th>
            <th>{{ex1.instrutor}}</th>
          </tr>
        </tbody>
      </table>
    </div>

    <div class="exercicio2" ng-controller="mascada">
      <span><small>Exercício 2:</small></span>
      <h4>Instrutores</h4>
      <ul>
        <li ng-repeat="ex2 in instrutores">{{ex2.nome | exercicio2}}</li>
      </ul>
    </div>

    <div class="exercicio3" ng-controller="mascada">
      <span>Exercício 3:</span>
      <table>
        <thead>
          <th></th>
          <th>Aula</th>
          <th>instrutor</th>
        </thead>
        <tbody>
          <tr ng-repeat="ex3 in crescer | exercicio3">
            <th>{{ex3.numAula}}</th>
          </tr>
        </tbody>
      </table>
    </div>

  </body>
</html>
