<div id="container">
    <form novalidate id="formLogin">
        <div class="form-group">
            <label for="login">Login</label>
            <input id="login" type="text" ng-model="funcionario.login" class="form-control"/>
        </div>
        <div class="form-group">
            <label for="senha">Senha</label>
            <input id="senha" type="password" ng-model="funcionario.senha" class="form-control"/>
        </div>
        <button type="button" ng-click="login(funcionario)" class="btn btn-default">Login</button>
        <!--<button type="button" ng-click="$ctrl.open()" class="btn btn-default">Cadastrar</button>-->
    </form>
</div>


<!--<div class="modal-header">   
    
</div>
-->
<!--<div ng-controller="ModalDemoCtrl as $ctrl" class="modal-demo">
    <script type="text/ng-template" id="myModalContent.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title">Cadastro de novo funcionario</h3>
        </div>
        <div class="modal-body" id="modal-body">
            <form novalidate id="formCadastro">
                <div class="form-group" class="modal-body">
                    <label for="nome">Nome</label>
                    <input id="nome" type="text" ng-model="funcionario.nome" class="form-control"/>
                </div>
                <div class="form-group" class="modal-body">
                    <label for="login">Login</label>
                    <input id="login" type="text" ng-model="funcionario.login" class="form-control"/>
                </div>
                <div class="form-group" class="modal-body">
                    <label for="senha">Senha</label>
                    <input id="senha" type="password" ng-model="funcionario.senha" class="form-control"/>
                </div>
            </form>
        </div>
        <div class="modal-footer">
            <button class="btn btn-primary" type="button" ng-click="$ctrl.ok()">OK</button>
            <button class="btn btn-warning" type="button" ng-click="$ctrl.cancel()">Cancel</button>
        </div>
    </script>
    <script type="text/ng-template" id="VIEW/login.html">
        <div class="modal-header">
            <h3 class="modal-title" id="modal-title-{{name}}">The {{name}} modal!</h3>
        </div>
        <div class="modal-body" id="modal-body-{{name}}">
            Having multiple modals open at once is probably bad UX but it's technically possible.
        </div>
    </script>
    <div class="modal-parent">
    </div>-->
</div>