<table>
    <thead>
        <th>Id</th>
        <th>Cliente</th>
        <th>Data Inicial</th>
        <th>Data Prevista</th>
        <th>Produto</th>       
        <th>Pacote</th>
        <th>Adicional</th> 
    </thead>
    <tbody>
        <tr ng-repeat="p in pedido">
           <th>{{p.Id}}</th>
           <th>{{p.Cliente.Nome}}</th>
           <th>{{p.DataInicial}}</th> 
           <th>{{p.DataPrevista}}</th>
           <th>{{p.Produto.Nome}}</th>
           <th>{{p.Pacote.Nome}}</th>
           <th>{{p.Adicional.Nome}}</th>
        </tr>
    </tbody>
</table>