<form>
	<h1>Cadastrar Novo Pedido</h1>

    <div ng-class="produto">
			<div ng-repeat="produto in produtos">
				<input type="radio" id="{{produto.Id}}">
				<label for="option-{{option.value}}">{{$parent.Nome}}</label>
			</div>
    </div>


		
    <div ng-class="pacote">
			<div ng-repeat="pacote in pacotes">
				<input type="radio" id="{{pacote.Nome}}">
				<label for="{{pacote.Id}}">{{$parent.Nome}}</label>
			</div>
    </div>

    <div ng-class="adicional">
			<div ng-repeat="adicional in adicionais">
				<input type="radio" id="{{adicional.Id}}">
				<label for="{{adicional.Id}}">{{$parent.Nome}}</label>
			</div>
    </div>

    <div class="buttons">
        <button class="btn btn-primary" type="button" name="enviar" ng-click="cadastrar()">Cadastrar</button>
        <button class="btn btn-default" type="reset" name="button">Limpar</button>
    </div>
</form>