TELA MENU


<div>
    <nav>
        <ul class="menu-ul">
        <li class="menu-li"><a class="menu-a" href="#!/telaMenu">Relatórios</a></li>
        <li class="menu-li"><a class="menu-a" href="#!/cliente">Clientes</a></li>
        <li class="menu-li"><a class="menu-a" href="#!/cliente/adicionar/0">Novo Cliente</a></li>
        <li class="menu-li"><a class="menu-a" href="#!/pedido">Pedidos</a></li>
        <li class="menu-li"><a class="menu-a" href="#!/pedido/adicionar/0">Novo Pedido</a></li>
      </ul>
    </nav>
</div>