<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <title>Exemplo</title>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
    <script type="text/javascript" src="controller.js"></script>
    <link rel="stylesheet" href="index-style.css">
  </head>
  <body ng-app="oi">
    <!-- tudo fora da controller é rootScope -->
    <p>Exemplo 1</p>
    <h1>Hello, {{texto}}!</h1>
    <div class="exemplo" ng-controller="controller1">

    <!-- <div ng-init="texto=1"> -->
      <label for="nome">Nome:</label>
      <input ng-model="texto" id="nome" type="text" name="nome" value=""/>
      <h1>Hello, {{texto}}!</h1>
    </div>

    <div class="exemplo" ng-controller="exemplo2">
      <p>Exemplo 2</p>
      <!-- <div ng-repeat="p in pokemons"> -->
        <!-- {{p}} -->
      <!-- </div> -->
      <ul>
        <li ng-repeat="p in pokemons">{{p.nome | uppercase}} é do tipo {{p.tipo}}</li>
      </ul>
    </div>

    <div class="exemplo ex1">
      <h1>Exercício 1</h1>
      <h2>{{nomePok}}</h2>
      <div ng-controller="pokemon">
        <label for="tipo">Nome:</label>
        <input ng-model="pokemon.nome" id="tipo" type="text"/>
        <h1> {{pokemon.nome}}</h1>
        <h2>{{pokemon.tipo}}</h2>
      </div>
    </div>


    <div class="exemplo pesquisar" ng-controller="exemplo2">
      <h2>Exercício 2</h2>
      <input ng-model="filtro" type="text" placeholder="Nome do pokemon" value="">
      <ul>
        <li ng-repeat="p in pokemons | filter: {nome:filtro}">{{p.nome}} é do tipo {{p.tipo}}</li>
      </ul>
    </div>
  </body>
</html>
